---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";



---

<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/global.css">
    <title>VIDEOER</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
h1 {
    font-family: "Orbitron", sans-serif;
    color: turquoise;
    font-size: 2.3rem;
    margin-bottom: 3rem;
    margin-bottom: 30px;
    margin-top: 40px;
    text-transform: uppercase; /* dette gør al teksten uppercase */
}
      main {
        flex: 1; /* automatisk udvider sig for at fylde den plads, der er tilgængelig på siden */
        padding: 1rem;
        text-align: center;
      }

      #video-container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 90%; /* sikrer max bredde responsivitet */
      }

      iframe.video {
        width: 100%; /* fuld bredde for mindre skærme */
        max-width: 800px; /* begrænser den maximale bredde */
        aspect-ratio: 16/9; /* bevarer aspect ratio */
        border: none; /* fjerner default border hvis der er en */
      }

    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>Videoer</h1>
      <div id="video-container2" class="video-container2">
        <iframe
          class="video"
          src="https://www.youtube.com/embed/videoseries?list=PL3Piya5d5zW5ebpCg3YmAzvgJhyECYYx9&autoplay=1&mute=1&controls=1"
          title="YouTube Playlist"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </main>
    <Footer />
  </body>
</html>
