<footer id="contact" class="footer">
  <div>
    <p>Adresse: Nørrebrogade 210, 2200 København N</p>
    <p>Email: crackplanet.cph@gmail.com</p>
    <p>Telefon: +45 23720139</p>
  </div>
</footer>

<style>
  .footer {
    background-color: #c69cdb;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: "Exo";
  }
</style>
