<footer id="contact" class="footer">
  <div>
    <p>NØRREBROGADE 210, 2200 KØBENHAVN N</p>
    <p>CRACKPLANET.CPH@GMAIL.COM</p>
    <p>+45 23720139</p>
  </div>
</footer>

<style>
  .footer {
    background-color: #c69cdb;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: "Exo";
  }
</style>
