---
import BurgerMenu from "./BurgerMenu.astro";
---

<html lang="da">
  <head>
    <meta charset="UTF-8" />
  </head>
</html>

<header class="header">
  <div class="logo">
    <a href="/">
      <img src="/img/planet_logo_purple.webp" alt="Logo" />
    </a>
  </div>
  <BurgerMenu />
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: #fff;
  }

  .logo img {
    height: 40px;
  }
</style>
