.menu {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase; /* Optional: To ensure a consistent menu style */
}

.menu a {
  color: white; /* Menu link color */
  text-decoration: none; /* Remove underline from links */
  padding: 0.5rem 1rem; /* Adjust spacing */
  display: inline-block; /* Ensures clickable links */
  
}

.menu a:hover {
  color: #6bf06b; /* Green hover color */
}




body {
  margin: 0;
  font-family: 'Orbitron', sans-serif; /* Apply a global fallback font */
  background-color: #000;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 1rem;
}
.orbitron {
  font-family: 'Orbitron', sans-serif;
}
html, body {
  background-color: grey; /* Ensures no white shows anywhere */
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures full-page coverage */
}
.product-card {
  background-color: transparent; /* Prevents unwanted background color */
  border: none; /* Optional: Removes borders if visible */
}

footer {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-align: center;
  background-color: #c69cdb; /* Purple */
  padding: 1rem 0;
}
