---
const { title = "CrackPlanet", children } = Astro.props;
import Footer from "../components/Footer.astro";
---
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      <link rel="stylesheet" href="/styles/global.css" />
    />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <slot name="header"></slot>
    </header>
    <main>
      {children}
    </main>
    <footer>
      <slot name="footer"></slot>
      <Footer />
    </footer>
  </body>
</html>
